
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home Page</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet"  type="text/css" href="{% static 'style.css'%} "  />
<link rel="stylesheet"   type="text/css" href="{% static 'coin-slider.css'%}" />

<script type="text/javascript" src="{% static 'cufon-yui.js'%} "></script>
<script type="text/javascript" src="{% static 'cufon-aller.js'%}"></script>
<script type="text/javascript" src="{% static 'jquery-1.4.2.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script.js'%}"></script>
<script type="text/javascript" src="{% static 'coin-slider.min.js'%}"></script>
<style type="text/css">
<!--
.style5 {
	font-size: 24px;
	color: #8b18f7;
}
.style12 {font-weight: bold}
.style13 {font-size: 24px; color: #f2c50f; font-weight: bold; }
.style17 {
	color: #0e0e0e;
	font-weight: bold;
}
-->
</style>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <p>&nbsp;</p>
      </div>
      <div class="mainbar">
        <h1 align="center"><a href="index.html"><span class="content style5">Deepfake Detection on Social Media Leveraging Deep Learning and FastText Embeddings for Identifying Machine-Generated Tweets</span></a></h1>



        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  <div class="row">
    <div class="alert alert-primary text-white font-weight-bold" role="alert">
     <p align="center"><span class="active"><span class="style12"><a href="{% url 'index' %}">Home|  </a><a href="{% url 'login' %}">Remote User </a>|<a href="{% url 'serviceproviderlogin' %}"> Service Provider </a></span></span></p>
    </div>
    <div>
</div>



        <img src="{% static 'Banner.jpg'%}" width="1297" height="280" alt="" class="fl" />      </div>
      <div class="clr"></div>
      <div class="slider">
        
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2 align="center" class="style13">Text classification, machine learning, deep learning, deepfake, machine generated text..</h2>
          <div class="img">
            <div align="center"><img src="{% static 'img1.jpg'%}" width="630" height="221" alt="" class="fl" /></div>
          </div>
          <div class="post_content">
            <p align="center" class="style17">Recent advancements in natural language production provide an additional tool to manipulate
public opinion on social media. Furthermore, advancements in language modelling have significantly
strengthened the generative capabilities of deep neural models, empowering them with enhanced skills for
content generation. Consequently, text-generative models have become increasingly powerful allowing the
adversaries to use these remarkable abilities to boost social bots, allowing them to generate realistic deepfake
posts and influence the discourse among the general public. To address this problem, the development of
reliable and accurate deepfake social media message-detecting methods is important. Under this consideration,
current research addresses the identification of machine-generated text on social networks like Twitter.
In this study, a simple deep learning model in combination with word embeddings is employed for the
classification of tweets as human-generated or bot-generated using a publicly available Tweepfake dataset.
A conventional Convolutional Neural Network (CNN) architecture is devised, leveraging FastText word
embeddings, to undertake the task of identifying deepfake tweets. To showcase the superior performance
of the proposed method, this study employed several machine learning models as baseline methods for
comparison. These baseline methods utilized various features, including Term Frequency, Term Frequency-
Inverse Document Frequency, FastText, and FastText subword embeddings.</p>
          </div>

        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  <div class="row">
    <div class="alert alert-primary text-white font-weight-bold" role="alert">
     <p align="center"><span class="active"><span class="style12"><a href="{% url 'login' %}">Home|  </a><a href="{% url 'login' %}">Remote User </a>|<a href="{% url 'serviceproviderlogin' %}"> Service Provider </a></span></span></p>
    </div>
    <div>
</div>
          <div class="clr"></div>
        </div>
      </div>
      <div class="sidebar">
        <div class="searchform"></div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg"></div>
  <div class="footer"></div>
</div>
<div align=center></div>
</body>
</html>
